<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<packageSources>
        <clear /> <!-- ensure only the sources defined below are used -->
        <add key="microsoft.nuget" value="https://api.nuget.org/v3/index.json" />
        <!-- <add key="OrchardPreviewSource" value="https://nuget.cloudsmith.io/orchardcore/preview/v3/index.json" /> -->
    </packageSources>


</configuration>